body {
  margin: 0;
  min-height: 100vh;
  background: #2f3542;
  font-family: "Open Sans", sans-serif;
  color: #f1f2f6;
  display: flex;
  justify-content: center; /* yatay */
  align-items: center;     /* dikey */
}
.container {
  text-align: center;
}

.result {
  font-size: 56px;
  color: #fef6e4;
  margin-bottom: 40px;
}

.names {
  display: flex;
  gap: 200px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #2ed573;
}

.names input {
  background: transparent;
  border: none;
  color: #2ed573;
  font-size: 20px;
  text-align: center;
  outline: none;
}

.dice-area {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 50px;
}

.dice-area img {
  width: 160px;
}

button {
  background: #00d2a0;
  border: none;
  padding: 14px 60px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

button:disabled {
  background: #7f8c8d;
}

footer {
  margin-top: 60px;
  font-size: 14px;
  opacity: 0.7;
}
