/* review client start*/
.container-review-client {
  text-align: center;
  background-color: #f1f8ff;
  width: 100%;
  padding: 4rem 3rem 7rem 3rem;
  overflow: hidden;
}

.review-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-client h2 {
  color: #355592;
  font-size: 2.2rem;
  margin-top: 2rem;
  position: relative;
}

.review-client h2::after {
  content: " ";
  width: 100px;
  height: 6px;
  background-color: #ffc017;
  position: absolute;
  border-radius: 20px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.review-client p {
  font-size: 1rem;
  font-weight: bold;
  color: #585858;
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.all-clients {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.client {
  padding-top: 15px;
  width: 500px;
  text-align: start;
}
.client-info {
  display: flex;
  align-items: center;
  padding: 25px 20px 10px 25px;
  text-align: start;
}
.client-job-title {
  display: grid;
  gap: 0.5rem;
  padding: 8px;
}

.client-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.client-p {
  width: 450px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  word-break: break-all;
  background-color: #355592;
  text-align: start;
  color: #fff;
  position: relative;
  padding: 20px;
  margin: auto;
}

.client-p::before {
  content: "";
  position: absolute;
  background-color: rgb(152, 165, 189);
  left: 0;
  top: 100%;
  width: 40px;
  height: 35px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.client-p::after {
  content: "";
  position: absolute;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  background-color: rgb(152, 165, 189);
  right: 0;
  top: 100%;
  width: 40px;
  height: 35px;
}
/* review client end */