/* contact-us start*/

.container-contact-us {
  text-align: center;
  background-color: #fff;
  width: 100%;
  padding: 4rem 0;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.contact-us h2 {
  color: #355592;
  font-size: 2.2rem;
  margin-top: 2rem;
  position: relative;
}

.contact-us h2::after {
  content: " ";
  width: 100px;
  height: 6px;
  background-color: #ffc017;
  position: absolute;
  border-radius: 20px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-us p {
  font-size: 1rem;
  font-weight: bold;
  color: #585858;
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.contact-info {
  display: flex;
  justify-content: start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.info-item {
  text-align: left;
  color: #585858;
}
.info-item h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.info-item p {
  font-size: 0.8rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.info-item p a {
  color: #585858;
  text-decoration: none;
}

.info-item p a:hover {
  color: #355592;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 450px;
  margin-bottom: 2rem;
}
.contact-form h3 {
  color: #585858;
  font-weight: 600;
  font-size: larger;
  text-align: left;
  padding-bottom: 1rem;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f1f8ff;
  border-radius: 5px;
}
.contact-form textarea {
  height: 120px;
  width: 100%;
  padding: 10px;
  background-color: #f1f8ff;
  border: none;
  border-radius: 5px;
}

.btn-contact {
  padding: 5px 15px;
  background-color: #f39c11;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.btn-contact:hover {
  background-color: #355592;
}

.container-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin: auto;
  max-width: 1000px;
  overflow: hidden;
}

.container-left {
  margin-left: 0;
  width: 450px;
  flex: 1;
}

.container-right {
  margin-left: 0;
  width: 450px;
  flex: 1;
}

.googleMap {
  width: 450px;
  height: 350px;
  border-radius: 2px;
}
/* contact-us end */