/* our trainers start */
.our-trainers-bg {
  text-align: center;
  background-color: #f1f8ff;
  width: 100%;
  padding: 4rem;
}

.our-best-trainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-best-trainers h2 {
  color: #355592;
  font-size: 2.2rem;
  margin-top: 2rem;
  position: relative;
}

.our-best-trainers h2::after {
  content: " ";
  width: 100px;
  height: 6px;
  background-color: #ffc017;
  position: absolute;
  border-radius: 20px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.our-best-trainers p {
  font-size: 1rem;
  font-weight: bold;
  color: #585858;
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.best-trainer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative;
  z-index: 2;
}

.trainer-card img {
  display: block;
  width: 100%;
  height: auto;
  border: solid 2px;
  border-color: #f39c11;
  border-radius: 10px;
}

.trainer-card {
  position: relative;
  border: 5px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.trainer-card::before,
.trainer-card::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.trainer-card::before {
  top: -5%;
  left: -5%;
  background-color: #355592;
  width: 110%;
  height: 110%;
  clip-path: inset(1.5% 30% 1.5% 30%);
  transition: clip-path 0.5s ease;
}

.trainer-card::after {
  top: -5%;
  left: -5%;
  background-color: #355592;
  width: 110%;
  height: 110%;
  clip-path: inset(30% 1% 30% 1%);
  transition: clip-path 0.5s ease;
}

.trainer-card:hover::before {
  animation: border-x 2s linear forwards;
}

.trainer-card:hover::after {
  animation: border-y 2s linear forwards;
}

@keyframes border-y {
  0% {
    clip-path: inset(25% 0 25% 0);
  }
  50% {
    clip-path: inset(25% 0 25% 0);
  }
  100% {
    clip-path: inset(25% 0 25% 0);
  }
}

@keyframes border-x {
  0% {
    clip-path: inset(0% 25% 0% 25%);
  }
  50% {
    clip-path: inset(0% 25% 0% 25%);
  }
  100% {
    clip-path: inset(0% 25% 0% 25%);
  }
}

.trainer-info {
  position: absolute;
  bottom: 1rem;
  width: 90%;
  left: 5%;
  transform: translateX(-50%);
  clip-path: polygon(
    0 20%,
    14% 20%,
    14% 0%,
    86% 0%,
    86% 20%,
    100% 20%,
    100% 80%,
    86% 80%,
    86% 100%,
    14% 100%,
    14% 80%,
    0 80%
  );
  background-color: #355592;
  color: white;
  text-align: center;
  padding: 1.9rem;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.trainer-card:hover .trainer-info {
  opacity: 1;
  transform: scaleY(1);
}
/* our trainers end */