@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html,
body {
  background-image: url(../img/drum.png);
  background-color: #2D3D50;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin: 0;
  padding-top: 175px;
  padding-bottom: 25px;
}
.note {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}
.keys {
  width: 1000px;
  margin: auto;
  text-align: center;
  margin-top: 45px;
}

.key {
  background: #3498DB;
  margin: 8px;
  text-align: center;
  display: inline-block;
  width: 80px;
  padding: 10px 0;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
.key kbd {
  font-size: 36px;
  display: block;
}
.key .sound {
  text-transform: capitalize;
}

.playing {
  border: 5px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
