/* purshase from us start*/

.container-purchase-from-us {
  text-align: center;
  background-color: #fff;
  width: 100%;
  padding: 4rem;
}

.purchase-from-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase-from-us h2 {
  color: #355592;
  font-size: 2.2rem;
  margin-top: 2rem;
  position: relative;
}

.purchase-from-us h2::after {
  content: " ";
  width: 100px;
  height: 6px;
  background-color: #ffc017;
  position: absolute;
  border-radius: 20px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.purchase-from-us p {
  font-size: 1rem;
  font-weight: bold;
  color: #585858;
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem 0 0 3rem;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: calc(25% - 2rem);
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}

.card-body {
  padding: 1rem 0 0 0;
  text-align: center;
}

.product-name {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.price {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #000;
  margin-bottom: 20px;
}
.price span {
  text-decoration: line-through;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  margin: auto;
  width: 100%;
  transition: background-color 0.2s;
}

.add-to-cart i {
  margin-right: 0.5rem;
}

.add-to-cart:hover {
  background-color: #f39c11;
  color: #fff;
}

.card:hover {
  transform: translateY(-5px);
}
/* purshase from us sendtart*/