input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f6;
}

.AppContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
  width: 50em;
  min-height: 100vh;
}

button {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #fff;
  width: 100%;
  height: 5em;
  font-weight: 700;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.navbarInner {
  margin-left: auto;
  margin-right: auto;
}
.navbarInner a {
  color: black;
  font-size: 24px;
}
.headerWrapper {
  font-size: 32px;
  background: #fff;
  padding: 30px 20px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
  width: 100%;
}

.headerPic img {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 125px;
  height: 125px;
  margin: 10px auto 25px;
  border: 1px solid white;
  border-radius: 50%;
}

.balanceWrapper {
  width: 100%;
  color: #fff;
  background-color: #2ecc71;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  padding: 20px;
  margin: 10px 0;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  top: 0;
  position: sticky;
  z-index: 9999;
}

.productListWrapper {
  margin-top: 10px;
  width: 105%;
}
.productList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px 10px;
}
.product {
  max-width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 20px 15px;
}

.product img {
  display: block;
  margin: 15px auto;
  height: 120px;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.name {
  font-size: 22px;
  font-weight: 700;
}
.cost {
  font-size: 20px;
  font-weight: 600;
  color: #24c486;
}
.controller {
  font-size: 20px;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 25px;
}

.sell {
  background: linear-gradient(180deg, #f53b82, #f53b57);
}

.buy {
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
}

input {
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #b2bec3;
  color: #333;
  width: 95%;
}

.basketWrapper {
  background-color: #fff;
  width: 101%;
  font-size: 18px;
  padding: 15px 15px 30px;
  margin-top: 10px;
  text-align: center;
}

.basketHeader {
  font-size: 28px;
  padding: 15px 15px 25px;
  font-weight: 700;
}

.basketElement {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-gap: 10px 0;
  font-size: 18px;
  grid-template-columns: 170px 45px 75px;
}

.basketElementName {
  text-align: center;
  text-overflow: ellipsis;
}
.basketElementAmount {
  text-align: center;
}
.basketElementCost {
  color: #24c486;
  text-align: center;
}

.none {
  display: none;
}
.basketTotal {
  font-weight: 700;
  max-width: 350px;
  border-top: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basketTotalPrice {
  color: #24c486;
  text-align: right;
  margin-left: 5px;
}
.disable {
  background: #f1f2f6 !important;
  border: none;
  color: #333;
  cursor: auto;
  touch-action: manipulation;
}

.footerWrapper {
  margin-top: 10px;
  height: 6em;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerText {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
.footerDesc {
  font-size: 12px;
  color: #24c486;
}
